<h1> Information </h1>
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
 
<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>
 
<p>
 <b>Email:</b>
 <%=h @user.email %>
</p>
 
 
<%= link_to 'Edit', edit_account_path %>